/* #05BCA9 */

.div-header {
     background-image: url("images/intro-bg.jpg")  ;    
      width: 100%;
      height: auto;
      background-repeat:no-repeat;
      background-size:cover;

     
}
.ul-nav-list a  {
    color: white;
    text-decoration: none;
}

.block-header {
    display: flex;  
}

.div-logo {
    margin-top: 100px;
    margin-left: 100px;
     
}

.ul-nav-list{
    
    display: flex;
    margin-left:790px;
    margin-top: 100px;
    list-style-type: none;  
}

.ul-nav-list li {
margin-right: 29px;
font-size: 18px;
font-weight: 700;
}

.nav-list {
    
   display: flex;
   margin-right: 2rem;
    /* background-color: red; */
    
}


 .div-play-btn {
     display: flex;
     justify-content: center;
 }

.logo {
    width: 50px;
}

.play-btn {
    text-align: center;
    margin-top: 139px;
    margin-bottom:30px;
    height: 100px;
}

.div-intro{
     color:white;
    text-align: center;
    padding-bottom: 10px;
}

.div-learn-btn {
    display: flex;
    justify-content:center;
padding-bottom: 100px;
}
 .learn-btn {
   
     padding: 1.3rem;
     color:black;
     text-decoration: none;
     border-radius:50px;
     font-size:20px;
     background-color:transparent;
     border:solid 2px white;

 }
 .learn-btn a {
     text-decoration: none;
     color:white;
     
 }
 .learn-btn a:active {
     color:#05BCA9;
     
    
}

 .div-intro h4 {
     padding: 0;
     font-size: 28px;
 }
 .div-intro h1 {
     padding-bottom: 20px;
 }

li::before {
color:#05BCA9;
 }